.additional-section
  +padding-top
  text-align: center
  padding-bottom: 40px

  &--orange
    +section-orange

  &--white
    +section-white

  &__title
    +title-font-size
    margin: 0

  &__subtitle
    +subtitle-font-size

  &__text
    +text-font-size
    margin-bottom: 30px

.desktop-columns_mobile-rows
  display: flex
  flex-direction: column
  max-width: $max-width
  margin: auto
  +minMedium
    flex-direction: row
    justify-content: space-around
