.additional-section
  text-align: center

  &:nth-of-type(even)
    +section-orange

  &:nth-of-type(odd)
    +section-white

  &__title
    margin: 0

  &__subtitle

  &__text

.desktop-columns_mobile-rows
  display: flex
  justify-content: space-around
