.header
  position: relative

  &__circle
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $white-transparent
    border-radius: 50%
    width: 50vw
    height: 50vw

  &__text-content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    text-align: center

  &__title
    +title-font
    margin-bottom: 40px

  &__subtitle


  &__down-icon
    background: $green
    color: $white
