.navigation

  &__list
    list-style: none
    padding: 0
    margin: 0

  &__entry
    +navigation-font
    width: calc(100% / 3)
    float: left
    text-align: center

  &__link
    display: block
    text-decoration: none
    color: $orange
    width: 100%
    padding: 20px 0
    &:hover
      background: $orange
      color: $white
