.product
  padding: 0 20px
  min-height: 500px

  &:nth-of-type(odd)
    background: $orange
    color: $white

  &__icon

  &__title
    +section-title-font

  &__text
    +section-text-font

  &__image
    width: 300px
    height: auto
    box-shadow: 5px 5px 20px 0px $black

  &:nth-of-type(odd) &__image
    transform: rotate(10deg)
    margin-left: 20px

  &:nth-of-type(even) &__image
    transform: rotate(-7deg)
    margin-right: 20px

.columns
  display: flex

  &__column-wide,
  &__column-narrow
    display: flex
    align-items: center

  &__column-wide
    flex: 1 1 60%
    flex-wrap: wrap

  &__column-narrow
    flex: 1 1 40%
