.products

  &__title
    +section-orange
    text-align: center
    margin: 0
    padding: 30px 0 50px

.product
  padding: 0 20px
  min-height: 400px

  &:nth-of-type(odd)
    +section-orange

  &:nth-of-type(even)
    +section-white

  &__icon
    font-size: 60px
    width: 100%

  &__title
    +section-title-font
    width: 100%

  &__text
    +section-text-font
    width: 100%

  &__image
    width: 100%
    max-width: 400px
    margin: auto
    height: auto
    box-shadow: 5px 5px 20px 0px $black

  &:nth-of-type(odd) &__image
    transform: rotate(10deg)

  &:nth-of-type(even) &__image
    transform: rotate(-7deg)

.columns
  display: flex
  flex-wrap: wrap

  &__column-wide,
  &__column-narrow
    display: flex
    align-items: center
    box-sizing: border-box

  &__column-wide
    width: 100%
    display: flex
    flex-wrap: wrap
    align-content: flex-end
    padding: 20px
    +minMedium
      width: 60%

  &__column-narrow
    width: 100%
    padding: 50px
    order: 2
    +minMedium
      width: 40%
      order: 1
